<div class="about w3agile-1">
        <div class="container">
            <h1 class="title">About Us</h1>
            <div class="about-info">
                <div class="col-md-7 about-grids">
                    <div class="about-row">
                        <div class="col-md-4 about-imgs">
                            <img src="assets/images/1.jpg" alt="" class="img-responsive zoom-img" />
                        </div>
                        <div class="col-md-4 about-imgs">
                            <img src="assets/images/2.jpg" alt="" class="img-responsive zoom-img" />
                        </div>
                        <div class="col-md-4 about-imgs">
                            <img src="assets/images/3.jpg" alt="" class="img-responsive zoom-img" />
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <h4>Blanditiis praesentium deleniti atque corrupti quos </h4>
                    <p>Dignissimos at vero eos et accusamus et iusto odio ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecat officia deserunt mollitia laborum et dolorum fuga. At vero
                        eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecat </p>
                </div>
                <div class="col-md-5 about-grids">
                    <div class="pince">
                        <div class="pince-left">
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        </div>
                        <div class="pince-right">
                            <h4>Why Choosing Us? </h4>
                            <p>Vero vulputate enim non justo posuere placerat. Phasellus eget mauris.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="pince">
                        <div class="pince-left">
                            <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                        </div>
                        <div class="pince-right">
                            <h4>Our Tasks</h4>
                            <p>Dero vulputate enim non justo posuere placerat. purus vel mauris.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="pince">
                        <div class="pince-left">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </div>
                        <div class="pince-right">
                            <h4>Our History</h4>
                            <p>Justo posuere placerat. Vero vulputate enim non Phasellus eget mauris.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--//about-->
    <!-- testimonials -->
    <div class="testimonials w3agile-2">
        <div class="container">
            <h4 class="title">Testimonials</h4>
            <div class="testimonials-grid">
                <img src="assets/images/quote.png" alt=" " class="img-responsive" />
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam sed do eiusmod.</p>
                <h5>John Doe,<span> Tempor</span></h5>
            </div>
        </div>
    </div>
    <!-- //testimonials -->
    <!--team-->
    <div class="team w3agile-3">
        <div class="container">
            <h2 class="title">Meet Our Team</h2>
            <div class="team-info">
                <div class="col-md-3 team-grids wow fadeInLeft animated" data-wow-delay=".5s">
                    <a href="#">
                            <img class="img-responsive" src="assets/images/t1.jpg" alt="">
                            <div class="captn">
                                <h4>Tincidun</h4>
                                <p>Aenean pulvinar</p>
                                    <ul class="social-icons1">
                                        <li><i class="fa fa-facebook"></i></li>
                                        <li><i class="fa fa-twitter"></i></li>
                                        <li><i class="fa fa-linkedin"></i></li>
                                    </ul>
                            </div>
                        </a>
                </div>
                <div class="col-md-3 team-grids animated wow fadeInDown animated" data-wow-duration="1200ms" data-wow-delay="500ms">
                    <a href="#">
                            <img class="img-responsive" src="assets/images/t2.jpg" alt="">
                            <div class="captn">
                                <h4>Velit uti</h4>
                                <p>Aenean pulvinar</p>
                                    <ul class="social-icons1">
                                        <li><i class="fa fa-facebook"></i></li>
                                        <li><i class="fa fa-twitter"></i></li>
                                        <li><i class="fa fa-linkedin"></i></li>
                                    </ul>
                            </div>
                        </a>
                </div>
                <div class="col-md-3 team-grids animated wow fadeInUp animated" data-wow-duration="1200ms" data-wow-delay="500ms">
                    <a href="#">
                            <img class="img-responsive" src="assets/images/t3.jpg" alt="">
                            <div class="captn">
                                <h4>Posuere</h4>
                                <p>Aenean pulvinar</p>
                                    <ul class="social-icons1">
                                        <li><i class="fa fa-facebook"></i></li>
                                        <li><i class="fa fa-twitter"></i></li>
                                        <li><i class="fa fa-linkedin"></i></li>
                                    </ul>
                            </div>
                        </a>
                </div>
                <div class="col-md-3 team-grids wow fadeInRight animated" data-wow-delay=".5s">
                    <a href="#">
                            <img class="img-responsive" src="assets/images/t4.jpg" alt="">
                            <div class="captn">
                                <h4>Augc sfe</h4>
                                <p>Aenean pulvinar</p>
                                    <ul class="social-icons1">
                                        <li><i class="fa fa-facebook"></i></li>
                                        <li><i class="fa fa-twitter"></i></li>
                                        <li><i class="fa fa-linkedin"></i></li>
                                    </ul>
                            </div>
                        </a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>