<div class="contact agileinfo">
    <div class="container">
        <h1 class="title">Contact</h1>
        <div class="contact-top">
            <div class="col-md-6 col-sm-6 cl  agileinfo-1">
                <h4>CONTACT FORM</h4>
                <form action="#" method="post">
                    <input type="text" name="your name" placeholder="YOUR NAME"><br>
                    <input type="text" name="your email" placeholder="YOUR EMAIL"><br>
                    <textarea rows="4" cols="50" name="your message" placeholder="YOUR MESSAGE"></textarea>
                    <input type="submit" class="hvr-rectangle-in" value="SEND MESSAGE">
                </form>
            </div>
            <div class="col-md-6 col-sm-6 cr  agileinfo-2">
                <h4>OUR ADDRESS:</h4>
                <h5>7th Isum Road, <br>Sydney City, <br>Australia.</h5>
                <h4> Phone:</h4>
                <h5>+598 256 9850</h5>
                <h4>E-mail:</h4>
                <h5><a href="mailto:info@example.com">mlsbd@live.com</a></h5>
                <h4>Our Website:</h4>
                <h5><a href="https://w3layouts.com/">www.w3layouts.com</a></h5>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<h2 class="title">View On Map</h2>
<div class="map  agileinfo-3">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13251.379579532895!2d151.20123713732173!3d-33.867887973599956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae401e8b983f%3A0x5017d681632ccc0!2sSydney+NSW+2000%2C+Australia!5e0!3m2!1sen!2sin!4v1471840520875"
        style="border:0" allowfullscreen></iframe>
</div>