<!-- //Navbar -->
    <!-- Slider -->
    <div class="slider">
        <ul class="rslides" id="slider1">
            <li>
                <img src="assets/images/slide-1.jpg" alt="Wanderer">

                <div class="caption">
                    <h1>Test</h1>
                    <h3>Lorem Ipsum available, but the majority have suffered alteration in some form</h3>
                </div>
            </li>
            <li>
                <img src="assets/images/slide-2.jpg" alt="Wanderer">
                <div class="caption">
                    <h3>Lorem Ipsum available, but the majority have suffered alteration in some form</h3>
                </div>
            </li>
            <li>
                <img src="assets/images/slide-1.jpg" alt="Wanderer">
                <div class="caption">
                    <h3>Lorem Ipsum available, but the majority have suffered alteration in some form</h3>
                </div>
            </li>
            <li>
                <img src="assets/images/slide-2.jpg" alt="Wanderer">

                <div class="caption">
                    <h3>Lorem Ipsum available, but the majority have suffered alteration in some form</h3>
                </div>
            </li>
            <li>
                <img src="assets/images/slide-1.jpg" alt="Wanderer">
                <div class="caption">
                    <h3>Lorem Ipsum available, but the majority have suffered alteration in some form</h3>
                </div>
            </li>
        </ul>
    </div>
    <!-- //Slider -->
    <!-- <table class="table">
        <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        </thead>
        <tbody>
            <tr *ngFor="let u of data">
                <td>{{u.id}}</td>
                <td>{{u.name}}</td>
                <td>{{u.email}}</td>
                <td>{{u.password}}</td>
            </tr>
        </tbody>
    </table> -->

    <!-- //Header -->
    <!-- Services -->
    <div class="services w3l wow fadeInUp animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
        <div class="container">
            <h1>SERVICES</h1>
            <div class="grid_3 grid_5">
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#expeditions" id="expeditions-tab" role="tab" data-toggle="tab" aria-controls="expeditions" aria-expanded="true">Printing</a></li>
                        <li role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">Simply</a></li>
                        <li role="presentation"><a href="#tree" role="tab" id="tree-tab" data-toggle="tab" aria-controls="tree">Typesetting</a></li>
                        <li role="presentation"><a href="#safari" role="tab" id="safari-tab" data-toggle="tab" aria-controls="safari">Random</a></li>
                        <li role="presentation"><a href="#trekking" role="tab" id="trekking-tab" data-toggle="tab" aria-controls="trekking">Popular</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="expeditions" aria-labelledby="expeditions-tab">

                            <div class="col-md-7 col-sm-7 tab-info">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                                    make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
                                    containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                <p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
                                    consectetur</p>
                                <p>Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</p>
                            </div>
                            <div class="col-md-5 col-sm-5 tab-image">
                                <img src="assets/images/2.jpg" class="img-responsive" alt="Wanderer">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tours" aria-labelledby="tours-tab">
                            <div class="col-md-5 col-sm-5 tab-image">
                                <img src="assets/images/3.jpg" class="img-responsive" alt="Wanderer">
                            </div>
                            <div class="col-md-7 col-sm-7 tab-info">
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                                    College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem
                                    Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.</p>
                                <p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
                                    consectetur</p>
                                <p>Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tree" aria-labelledby="tree-tab">

                            <div class="col-md-7 col-sm-7 tab-info">
                                <p> This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32. The standard chunk of Lorem Ipsum
                                    used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact form, accompanied by English versions from
                                    the 1914 translation by H. Rackham. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                <p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
                                    consectetur</p>
                                <p>Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</p>
                            </div>
                            <div class="col-md-5 col-sm-5 tab-image">
                                <img src="assets/images/4.jpg" class="img-responsive" alt="Wanderer">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="safari" aria-labelledby="safari-tab">
                            <div class="col-md-5 col-sm-5 tab-image">
                                <img src="assets/images/1.jpg" class="img-responsive" alt="Wanderer">
                            </div>
                            <div class="col-md-7 col-sm-7 tab-info">
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                                    opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'
                                    will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose.</p>
                                <p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
                                    consectetur</p>
                                <p>Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="trekking" aria-labelledby="trekking-tab">

                            <div class="col-md-7 col-sm-7 tab-info">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going
                                    to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making
                                    this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures.</p>
                                <p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
                                    consectetur</p>
                                <p>Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur</p>
                            </div>
                            <div class="col-md-5 col-sm-5 tab-image">
                                <img src="assets/images/5.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //Services -->
    <!-- counting -->
    <div class="counting w3ls">
        <div class="container">
            <div class="counting-grids">
                <div class="col-md-3 counting-grid wow fadeInUp animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                    <h3>Users</h3>
                    <p class="counter">89,147</p>
                </div>
                <div class="col-md-3 counting-grid wow fadeInUp animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <i class="glyphicon glyphicon-arrow-up" aria-hidden="true"></i>
                    <h3>Support</h3>
                    <p class="counter">45,436</p>
                </div>
                <div class="col-md-3 counting-grid wow fadeInUp animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <i class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></i>
                    <h3>Creative Design</h3>
                    <p class="counter">66,546</p>
                </div>
                <div class="col-md-3 counting-grid wow fadeInUp animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <i class="glyphicon glyphicon-usd" aria-hidden="true"></i>
                    <h3>Profit</h3>
                    <p class="counter">43,865</p>
                </div>
                <div class="clearfix"> </div>
                <!-- Stats-Number-Scroller-Animation-JavaScript -->
                <script src="assets/js/waypoints.min.js"></script>
                <script src="assets/js/counterup.min.js"></script>
                <script>
                    jQuery(document).ready(function( $ ) {
                                $('.counter').counterUp({
                                  delay:30,
                                  time:1000
                                });
                              });
                </script>
                <!-- //Stats-Number-Scroller-Animation-JavaScript -->
            </div>
        </div>
    </div>
    <!-- /counting -->
    <!-- about -->
    <div class="about wthree">
        <div class="container">
            <div class="col-md-6 about-right wow fadeInLeft animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                <div class="content-item">

                    <div class="overlay"></div>

                    <div class="corner-overlay-content">Info</div>

                    <div class="overlay-content">

                        <h2>Voluptate Velit Esse</h2>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 about-left wow fadeInRight animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                <h3>cupidatat non proident hitesh</h3>

                <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                    adipisci velit, sed quia non numquam eiu.</p>
                <p>Voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eiu</p>
                <p>Voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eiu</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- about -->
    <div class="news agile">
        <div class="container">
            <div class="news-left news-right">
                <div class="news-right-info wow fadeInUp animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <h4>SUBSCRIBE</h4>
                    <form action="#" method="post">
                        <input type="text" name="Email" placeholder="Enter Your Email" required="">
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>