<style type="text/css">
    .help-block{
        color: red;
    }
</style>
<div class="news agile">
        <div class="container">
            <div class="news-left news-right">
                <div class="news-right-info wow fadeInUp animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <h4>Add New Employee</h4>
                    <form #employeeForm="ngForm" enctype="multipart/form-data" (ngSubmit)="saveEmployeeData(employeeForm.value)" novalidate autocomplete="off">

                        <input type="hidden" name="id" [(ngModel)]="model.id" #name="ngModel">

                        <input type="text" name="name" [(ngModel)]="model.name" #name="ngModel" required placeholder="Enter Your Name">
                        <div *ngIf="employeeForm.submitted && !name.valid" class="help-block">Name is required</div>
                        
                        <input type="text" placeholder="Enter Your City" name="city" [(ngModel)]="model.city" #city="ngModel" required>
                        <div *ngIf="employeeForm.submitted && !city.valid" class="help-block">City is required</div>

                        <input type="text" placeholder="Enter Your Contact Number" name="contactno" [(ngModel)]="model.contactno" #contactno="ngModel" required>
                        <div *ngIf="employeeForm.submitted && !contactno.valid" class="help-block">Contact number is required</div>

                        <!--<input type="file" (change)="fileUpload($event)" name="profile_pic" />
                        <div *ngIf="url" style="width: 100%; padding: 5px; text-align: left;">
                            <img [src]="url" height="100"><br/>
                            <a (click)="unlinkProfile(model.id)" >Remove</a>
                        </div>-->

                        <input type="submit" value="Save">
                                               
                    </form>
                </div>
            </div>
        </div>
    </div>

    