<div class="about wthree">
      <div class="container">
            <div class="col-md-12 about-left wow fadeInRight animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                  <h3>Product List</h3>
                  <div class="button-group">
                        <input class="btn btn-primary" type="button" (click)="addProduct()" value="ADD NEW">
                        <input class="btn btn-primary" type="button" (click)="deleteAll()" value="DELETE">
                  </div>
            
                  <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions"
                  [dtTrigger]="dtTrigger" >
                        <thead>
                              <tr>
                                    <th><input type="checkbox"  name="list_name"  value="m1" (change)="checkUncheckAll($event)"/> </th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                    <th>Action</th>
                              </tr>
                        </thead>
                        <tbody>
                              <tr *ngFor="let prod of product.data">
                                    <td><input type="checkbox" [(ngModel)]="prod.state" ng-checked="true" name="prodId[]" id="{{prod.id}}" value="{{prod.id}}" (change)="onCheckboxChange(prod.id, $event.target.checked)"></td>
                                    <td>{{prod.productName}}</td>
                                    <td>{{prod.description}}</td>
                                    <td>{{prod.price}}</td>
                                    <td class="action-group" align="center"><a routerLink="/admin/product/edit/{{prod.id}}" ><i class="fa fa-pencil" aria-hidden="true"> </i></a> | <a style="cursor: pointer;" (click)="openDialog(prod.id)"><i class="fa fa-trash"></i></a></td>
                              </tr>
                        </tbody>
                  </table>
            </div>
      </div>
</div> 
      